@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

code {
  white-space: pre-wrap !important;
}

* {
  font-family: "Outfit", serif;
}

@theme {
  --color-text: #121212;
  --color-white: #ffffff;
  --color-blue: #5044e5;
  --color-grayBlack: #314158;
  --color-background: #ffffff;
  --color-backgroundGray: #f4f7fb;
}

/* ! all the color */
:root {
  --text: #121212;
  --white: #ffffff;
  --blue: #5044e5;
  --grayBlack: #314158;
  --background: #ffffff;
  --backgroundGray: #f4f7fb;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: "Outfit", serif;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
  color: var(--text);
  background-color: var(--white);
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}
::selection {
  background-color: black;
  color: var(--white);
}

.container {
  width: 85%;
  height: 100%;
}

.dcontainer {
  width: 95%;
  height: 100%;
}

.cc {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.fc {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fcb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 450px) {
  .container {
    width: 90%;
    height: 100%;
  }
}

/* ! company logo */

.logo-scroll-container {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}
.logo-scroll-container {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

.logo-strip {
  display: inline-flex;
  gap: 4rem;
  min-width: max-content;
  animation: scroll-left 75s linear infinite;
}

.logo-img {
  width: 7rem;
  object-fit: contain;
  flex-shrink: 0;
}

/* Smooth side gradient fade */
.left-gradient {
  background: linear-gradient(to right, white 0%, transparent 100%);
}

.right-gradient {
  background: linear-gradient(to left, white 0%, transparent 100%);
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.bss {
  box-shadow: rgba(151, 149, 165, 0.2) 0px 8px 24px;
}
.bs {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

/* ! button loader */

.loader {
  width: 20px;
  height: 20px;
  border: 0.15rem dashed #ededed;
  border-radius: 50%;
  animation: rotation 0.8s linear infinite;
  display: inline-block;
}
@keyframes rotation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ! button loader */

/* ! MAIN LOADER */

.spinner {
  position: absolute;
  width: 9px;
  height: 9px;
}

.spinner div {
  position: absolute;
  width: 50%;
  height: 150%;
  background: #000000;
  transform: rotate(calc(var(--rotation) * 1deg))
    translate(0, calc(var(--translation) * 1%));
  animation: spinner-fzua35 1s calc(var(--delay) * 1s) infinite ease;
}

.spinner div:nth-child(1) {
  --delay: 0.1;
  --rotation: 36;
  --translation: 150;
}

.spinner div:nth-child(2) {
  --delay: 0.2;
  --rotation: 72;
  --translation: 150;
}

.spinner div:nth-child(3) {
  --delay: 0.3;
  --rotation: 108;
  --translation: 150;
}

.spinner div:nth-child(4) {
  --delay: 0.4;
  --rotation: 144;
  --translation: 150;
}

.spinner div:nth-child(5) {
  --delay: 0.5;
  --rotation: 180;
  --translation: 150;
}

.spinner div:nth-child(6) {
  --delay: 0.6;
  --rotation: 216;
  --translation: 150;
}

.spinner div:nth-child(7) {
  --delay: 0.7;
  --rotation: 252;
  --translation: 150;
}

.spinner div:nth-child(8) {
  --delay: 0.8;
  --rotation: 288;
  --translation: 150;
}

.spinner div:nth-child(9) {
  --delay: 0.9;
  --rotation: 324;
  --translation: 150;
}

.spinner div:nth-child(10) {
  --delay: 1;
  --rotation: 360;
  --translation: 150;
}

@keyframes spinner-fzua35 {
  0%,
  10%,
  20%,
  30%,
  50%,
  60%,
  70%,
  80%,
  90%,
  100% {
    transform: rotate(calc(var(--rotation) * 1deg))
      translate(0, calc(var(--translation) * 1%));
  }

  50% {
    transform: rotate(calc(var(--rotation) * 1deg))
      translate(0, calc(var(--translation) * 1.5%));
  }
}
/* ! MAIN LOADER */


/* ! RESUME PRINTING */
@media print {
  body * {
    visibility: hidden; /* Sab hide */
  }

  .print-area, .print-area * {
    visibility: visible; /* Sirf resume dikhaye */
  }

  .print-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    transform-origin: top left;
  }

  @page {
    size: A4;
    margin: 0;
  }
}



