version: "3.9"

services:
  gateway:
    build:
      context: ./api
      dockerfile: Dockerfile
    ports:
      - "4000:4000"
    volumes:
      - ./api:/app
      - /app/node_modules
    depends_on:
      - auth
      - profile
      - notification
      - redis
      - rabbitmq
      - resume
      - payment
    env_file:
      - ./api/.env
    networks:
      - app-network

  auth:
    build:
      context: ./auth
      dockerfile: Dockerfile
    ports:
      - "4001:4001"
    volumes:
      - ./auth:/app
      - /app/node_modules
    env_file:
      - ./auth/.env
    depends_on:
      rabbitmq:
        condition: service_healthy
    networks:
      - app-network

  profile:
    build:
      context: ./profile
      dockerfile: Dockerfile
    ports:
      - "4002:4002"
    volumes:
      - ./profile:/app
      - /app/node_modules
    env_file:
      - ./profile/.env
    depends_on:
      rabbitmq:
        condition: service_healthy
    networks:
      - app-network

  notification:
    build:
      context: ./notification
      dockerfile: Dockerfile
    ports:
      - "4003:4003"
    volumes:
      - ./notification:/app
      - /app/node_modules
    env_file:
      - ./notification/.env
    depends_on:
      rabbitmq:
        condition: service_healthy
    networks:
      - app-network

  resume:
    build:
      context: ./resume
      dockerfile: Dockerfile
    ports:
      - "4004:4004"
    volumes:
      - ./resume:/app
      - /app/node_modules
    env_file:
      - ./resume/.env
    depends_on:
      rabbitmq:
        condition: service_healthy
    networks:
      - app-network

  payment:
    build:
      context: ./payment
      dockerfile: Dockerfile
    ports:
      - "4005:4005"
    volumes:
      - ./payment:/app
      - /app/node_modules
    env_file: 
      - ./payment/.env
    depends_on:
      rabbitmq:
        condition: service_healthy
    networks:
      - app-network

  redis:
    image: redis/redis-stack:latest
    container_name: redis
    ports:
      - "6379:6379"
      - "8001:8001"
    networks:
      - app-network

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      - RABBITMQ_DEFAULT_USER=admin
      - RABBITMQ_DEFAULT_PASS=admin123
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "-q", "ping"]
      interval: 10s
      timeout: 5s
      retries: 20
      start_period: 10s
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
    
volumes:
  rabbitmq_data: