version: "3.9"

services:
  gateway:
    build:
      context: ./api
      dockerfile: Dockerfile
    command: npm run dev
    ports:
      - "4000:4000"
    volumes:
      - ./api:/app
      - /app/node_modules
    depends_on:
      - auth
      - profile
      - notification
      - redis
      - rabbitmq
      - resume
    env_file:
      - ./api/.env   # Gateway ka env file
    networks:
      - app-network

  auth:
    build:
      context: ./auth
      dockerfile: Dockerfile
    command: npm run dev
    ports:
      - "4001:4001"
    volumes:
      - ./auth:/app
      - /app/node_modules
    env_file:
      - ./auth/.env
    networks:
      - app-network

  profile:
    build:
      context: ./profile
      dockerfile: Dockerfile
    command: npm run dev
    ports:
      - "4002:4002"
    volumes:
      - ./profile:/app
      - /app/node_modules
    env_file:
      - ./profile/.env
    networks:
      - app-network

  notification:
    build:
      context: ./notification
      dockerfile: Dockerfile
    command: npm run dev
    ports:
      - "4003:4003"
    volumes:
      - ./notification:/app
      - /app/node_modules
    env_file:
      - ./notification/.env
    networks:
      - app-network

  resume:
    build:
      context: ./resume
      dockerfile: Dockerfile
    command: npm run dev
    ports:
      - "4004:4004"
    volumes:
      - ./resume:/app
      - /app/node_modules
    env_file:
      - ./resume/.env
    networks:
      - app-network

  redis:
    image: redis/redis-stack:latest
    container_name: redis
    ports:
      - "6379:6379"   # Redis port
      - "8001:8001"   # Redis Stack GUI
    networks:
      - app-network

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"    # AMQP
      - "15672:15672"  # RabbitMQ GUI
    environment:
      - RABBITMQ_DEFAULT_USER=admin
      - RABBITMQ_DEFAULT_PASS=admin123
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
